*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: silver;
  font-family: sans-serif;
}
label{
  display: block;
}
input{
  padding: 4px 8px;
}
caption, table, th, td{
  border: 1px solid #000;
  text-align: center;
}
tfoot{
  text-align: center;
}